html *
{
    color: #fff;
}

H1 {
    font-family: Equestria;
    text-align: center;
    font-size: 80pt;
    margin: 0;
}

TextArea {
    width: 100%;
    height: 200px;
    background-color: rgba(0,0,0,0.25);
}

body {
    padding-bottom: 400px;
}

#outer-div{
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;
}

.model-list-div{
    width: 50%;
    margin: 0 auto;
}

.subtitle {
    font-family: Equestria;
    text-align: center;
    font-size: 26pt
}

.file-dropdown {
    width: 275px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.25);
    color: #fff;
}

option {
    background-color: #222222;
}

.option-dropdown {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.25);
    color: #fff;
}

#file-picker {
    border-style: dashed;
    border-width: 1px;
    border-radius: 8px;
    text-align: center;
    height: 60px;
    margin: 10px;
    line-height: 60px;
}

.centered{
    text-align: center;
}

#message{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.option-label{
    text-align: right;
    width: 40%;
}

#preview{
    font-family: Equestria;
    font-size: 20pt;
    background-color: rgba(0,0,0,0.25);
}

.spaced-table{
    width: 100%;
    border-spacing: 15px 20px;
    border-collapse: separate; /* overrides darkly theme */
}

.output-table{
    margin-left: auto;
    margin-right: auto;
}

@keyframes fading-highlight{
    from {box-shadow: 0 0 10px #80a6d6;}
    to {box-shadow: none;}
}

.output-table-highlighted{
    margin-left: auto;
    margin-right: auto;
    border-color: #80a6d6;
    animation-name: fading-highlight;
    animation-duration: 1.5s;
}

.output-label{
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    color: #80a6d6;
}

.output-value{
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}


.option-instruction{
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.tab-table{
    height: 350px;
}

.tab-button{
    border: none;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0)
}

.tab-cell{
    border-width: 1px;
    border-color: #fff;
}

.tab-cell-selected{
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-color: #fff;
}

.tab-table-header{
    width: 100%;
    table-layout: fixed;
    height: 60px;
}

.architecture-info{
    vertical-align: top;
    padding-top: 15px;
    width: 40%;
}

.box-div{
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}

.generate-table{
    margin-left: auto;
    margin-right: auto;
}

.generate-cell{
    text-align: center;
}

#generate-button{
    font-family: Equestria;
    font-size: 36px;
    margin: 0px;
    background-color: rgba(0,0,0,0.25);
}

#generate-button:disabled{
    background-color: rgba(0,0,0,0);
    color: #666;
}

.label{
    display: block;
    margin: 20px;
}

.dropdown-container-loader{
    text-align: center;
    margin: auto;
}